<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>DBASPACE</title> 
</head>
<body>

<table  width=1350px border="0">
<tr>
<td colspan="5" style="background-color:#FFA500;">
<h1>数据库归档</h1>
</td>
</tr>

<tr>
<td style="background-color:#FFD700;height:700px;width:300px;vertical-align:top;">
<tb>菜单</tb><br>
<button style="width:100px"><a href="index.html">任务详情</a></button><br>
<button style="width:100px"><a href="addtask.html">PT提交</a></button><br>
<button style="width:100px"><a href="taskddl.html">DDL提交</a></button><br>
<button style="width:100px"><a href="log.html">任务日志</a></button><br>
</td>

<td style="background-color:#eeeeee;height:700px;width:100%;vertical-align:top;">
<form method="post" action="taskddl.html">
    <div align="center">
    <h1>DDL提交</h1>
    选择IDC机房<select name="cmd_idc">
       <option >请选择选择IDC机房</option>
       <option value="1">IDC </option>
       <option value="2">云平台</option>
</select></br></br>


选择实例方式<select name="db_type">
       <option >请选择实例方式</option>
       <option value="1">会员</option>
       <option value="2">订单</option>
       <option value="3">支付</option>
       <option value="4">结算</option>
       <option value="5">老板通</option>
       <option value="6">自定义</option>
</select></br></br>


地址<input type="text" name="shost"></br> </br> 
端口<input type="text" name="sport"></br></br> 
库名<input type="text" name="dbname"></br></br> 
表名<input type="text" name="tablename"></br></br> 

执行方式<select name="command_exe">
       <option >请选择DDL方式</option>
       <option value="1">ALTER</option>
       <option value="2">ghost</option>
</select></br></br>



DDL类型<select name="cmd_exe">
       <option >请选择DDL类型</option>
       <option value="1">ADD </option>
       <option value="2">CREATE</option>
</select></br></br>

批量DDL过滤模式<select name="search_type">
       <option >请选择批量DDL过滤模式</option>
       <option value="1">精确查找 </option>
       <option value="2">模糊查找</option>
</select></br></br>



提交SQL::
<textarea name="sqltext"></textarea>







</br></br>






<button>检测</button>
<input type="submit" value="Submit">
<button>重置</button>
<button>刷新</button>
{{.code}}
</div>
</form>
</td>
</tr>